body {
    background-color: #222 !important;
    background-image: url(https://pp.vk.me/c626421/v626421014/311e2/svGW5IV3Kw4.jpg) fixed !important;
    background-size: cover;
}

.im-page .im-page--history-new-bar,
.im-page .im-page--dialogs-footer.ui_grey_block,
.im-page .im-page--header,
.im-page .im-page--search-header,
.im-page .im-page--mess-search,
.im-chat-input .im-chat-input--text,
.im_rc_emojibtn:hover,
.im-mess.im-mess_light,
.ui_search,
.emoji_sticker_item.over,
.emoji_sticker_item:hover,
.submit_post_box.shown div.submit_post_field,
.submit_post_box.shown div.submit_post_field~.placeholder .ph_input,
div.submit_post_field,
div.submit_post_field[contenteditable=true],
div.submit_post_field[contenteditable=true]~.placeholder .ph_input,
div.submit_post_field~.placeholder .ph_input,
.left_count_wrap,
.media_selector .ms_items_more .ms_item:hover,
.chat_tab_wrap:hover,
.wall_module .reply_box,
.wall_module .reply_fakebox_wrap,
.wall_module .reply_fakebox,
.wall_module .post_like:hover,
.wall_module .post_share:hover,
.page_media_poll_wrap,
.audio_layer_bottom,
.audio_friends_list,
.audio_page_player,
.search_filters_minimized_text,
#box_layer_bg,
.tabbed_box .summary_tab .summary_tab3:hover,
.tabbed_box .summary_tab_sel .summary_tab3:hover,
.top_notify_show_all,
div.fc_clist_filter_wrap,
.pv_author_block,
.pv_narrow_column_wrap,
.pv_cont .narrow_column,
.pv_like:hover,
.im-mess.im-mess_selected:last-child:before,
.im-mess.im-mess_unread:last-child:before,
.im-mess.im-mess_selected+.im-mess:before,
.im-mess.im-mess_unread+.im-mess:before,
.wall_module .reply_form,
.pv_cont .pv_reply_form_wrap,
.submit_post,
.pv_cont .pv_comments_header,
.wall_module .page_media_thumbed_link,
.wk_poll_tabs,
.audio_page_player,
.im-chat-input,
.im-chat-input .im-chat-input--txt-wrap,
.emoji_cat_title,
.im-page .im-page--chat-search-empty,
.selector_container,
.page_block_header,
.audio_row:hover:not(.audio_row__current) .audio_row_content {
    background      : none !important;
    background-color: none !important;
}

.page_doc_photo,
.nim-dialog:not(.nim-dialog_deleted).nim-dialog_hovered .nim-dialog--photo .online.mobile:after,
.nim-dialog:not(.nim-dialog_deleted).nim-dialog_selected .nim-dialog--photo .online.mobile:after,
.nim-dialog:not(.nim-dialog_deleted).nim-dialog_unread.nim-dialog_classic .nim-dialog--photo .online.mobile:after,
.nim-dialog:not(.nim-dialog_deleted):hover .nim-dialog--photo .online.mobile:after,
.online.mobile:after {
	background-color: rgba(0, 0, 0, 0) !important;
}

#side_bar ol li .left_row:hover,
.chat_onl_inner,
.nim-dialog:not(.nim-dialog_deleted).nim-dialog_muted.nim-dialog_selected,
.nim-dialog:not(.nim-dialog_deleted).nim-dialog_selected,
.idd_popup .idd_header_wrap,
/*.side_bar_inner,*/
.bt_tag_label{
    background: rgba(0, 0, 0, 0.38) !important;
}

.page_block,
.ui_actions_menu,
.ms_items_more,
.eltt,
.ts_cont_wrap,
.tt_default,
.tt_default_right,
.emoji_tt_wrap,
.box_body,
.box_controls,
#album_name_wrap,
.audio_rows_header.fixed,
#top_notify_wrap,
#fc_contacts,
.fc_content,
.result_list ul,
.audio_page_player.audio_page_player_fixed_shown {
    background: rgba(255,255,255,0.9) !important;
}

#page_header_cont .back,
.nim-dialog.nim-dialog_failed .nim-dialog--unread,
.nim-dialog.nim-dialog_unread .nim-dialog--unread,
.nim-dialog.nim-dialog_unread.nim-dialog_prep-injected .nim-dialog--unread,
.nim-dialog.nim-dialog_unread-out.nim-dialog_muted:not(.nim-dialog_failed) .nim-dialog--unread,
.nim-dialog.nim-dialog_unread-out:not(.nim-dialog_failed) .nim-dialog--unread,
.nim-dialog.nim-dialog_unread.nim-dialog_unread-out:not(.nim-dialog_failed) .nim-dialog--unread,
/*.audio_inline_player .slider .slider_amount, */
/* .audio_page_player .slider .slider_amount, */
.audio_inline_player .slider .slider_handler,
.audio_page_player .slider .slider_handler,
.ui_scroll_default_theme .ui_scroll_bar_container:hover .ui_scroll_bar_inner,
.ui_scroll_default_theme.ui_scroll_dragging .ui_scroll_bar_inner,
.ui_scroll_default_theme .ui_scroll_bar_inner,
.scrollbar_inner,
.pr_bt,
.fc_tab_head,
.summary_tab_sel .summary_tab2,
.summary_tab_sel .summary_tab2:hover,
.ui_tabs.ui_tabs_box,
.page_media_poll .page_poll_percent,
.TopSearch__input {
    background: #222 !important;
}

.audio_inline_player .slider .slider_slide,
.audio_page_player .slider .slider_slide,
.page_gif_progress_icon .pr_bt {
    background: #fff !important;
}

.ui_tab_search_wrap input.ui_search_field,
.feedback_row_clickable:not(.feedback_row_touched):hover {
	background-color: #fff !important;
}

.audio_play,
.ui_rmenu_sliding .ui_rmenu_slider,
.box_title_wrap,
.audio-msg-track .audio-msg-track--btn,
.audio_page_player2 .audio_page_player_play .icon,
.audio_page_player2 .audio_page_player_play .icon:hover,
.audio_inline_player .slider .slider_amount,
.slider .slider_back,
.slider .slider_handler,
.audio_page_player .audio_page_player_play .icon,
.ui_rmenu_count,
#page_header_cont {
    background-color: #222 !important;
}

input.text.ts_input,
.top_nav_link.active,
.top_nav_btn:hover,
.top_audio_player:hover,
.top_nav_link:hover,
.idd_popup .idd_items_content {
    background-color: rgba(255, 255, 255, 0.23) !important;
}

.nim-dialog:not(.nim-dialog_deleted).nim-dialog_hovered,
.nim-dialog:not(.nim-dialog_deleted).nim-dialog_unread.nim-dialog_classic,
.nim-dialog:not(.nim-dialog_deleted):not(.nim-dialog_selected):hover,
.im-mess.im-mess_unread ,
.im-mess.im-mess_selected,
.im-mess.im-mess_selected:hover,
.im-mess.im-mess_search:hover,
.ui_rmenu_item:hover,
.ui_rmenu_subitem:hover,
.ui_rmenu_item_sel,
.ui_rmenu_item_sel:hover,
.ui_actions_menu_item:hover,
.ui_multiselect_cnt .token,
.ui_search_filters_pane .token ,
.replies_open,
.wr_header,
.audio_row:not(.audio_row_current):hover,
.audio_row.audio_row_current,
.audio_row.audio_row_playing,
.audio_row.audio_row_current:hover,
.audio_row.audio_row_playing:hover,
.audio_friend:hover,
.audio_row.audio_row_current .audio_row_inner,
.audio_row.audio_row_playing .audio_row_inner,
.audio_row.audio_row_current .audio_row_inner:hover,
.audio_row.audio_row_playing .audio_row_inner:hover,
.stl_active.over_fast #stl_bg,
a.ts_contact.active,
a.ts_search_link.active,
.olist_item_wrap:hover,
.tabbed_box .summary_tab_sel a:hover,
.tabbed_box .summary_tab a:hover,
.docs_choose_upload_area,
.docs_choose_rows .docs_item:hover,
.feedback_sticky_row.hover,
.feedback_sticky_row:hover,
.top_notify_cont .feedback_row:not(.dld).hover,
.top_notify_cont .feedback_row:not(.dld):hover,
.top_notify_show_all:hover,
a.fc_contact_over,
.im-page .im-page--mess-search:hover,
.wdd_add2,
.ui_toggler,
.feedback_row_wrap.unread:not(.feedback_row_touched),
.profile_more_info_link:hover,
.slider_hint,
.summary_tab2:hover,
.idd_popup .idd_item.idd_hover,
.idd_popup .idd_item.idd_hover_sublist_parent,
#mv_comments_header,
.ui_ownblock:hover,
.feedback_row_answer,
.im_msg_audiomsg .audio-msg-track:not(.audio-msg-player):hover,
.result_list ul li.active {
    background-color: rgba(0, 0, 0, 0.24) !important;
    background      : rgba(0, 0, 0, 0.24) !important;
}


.ui_search_new.ui_search_field_empty .ui_search_button_search {
    background-color: rgba(0, 0, 0, 0.24) !important;
}

.button_blue button,
.button_gray button,
.button_light_gray button,
.flat_button,
.top_nav_btn.active{
    background-color: rgba(0, 0, 0, 0.48) !important;
}

.button_blue button.hover,
.button_blue button:hover,
.flat_button.hover,
.flat_button:hover {
    background-color: rgba(0, 0, 0, 0.55) !important;
}

.audio_row:not(.audio_row_current):hover,
.audio_inline_player .slider .slider_back,
.audio_page_player .slider .slider_back,
.audio_row.audio_row__current .audio_row_content {
    background-color: #adadad !important;
}

.im-mess .im-mess--check {
    background-position: 0px -19px !important;
}

.im-page .im-page--center-empty {
	background: url(/images/icons/first_comment.png) no-repeat 60px 15px !important;
}

.ui_progress .ui_progress_back,
.page_media_poll .page_poll_row {
	background-color: rgba(148, 148, 148, 0.17) !important;
}

.nim-dialog:not(.nim-dialog_deleted).nim-dialog_muted.nim-dialog_selected .nim-dialog--photo .online:after,
.nim-dialog:not(.nim-dialog_deleted).nim-dialog_selected .nim-dialog--photo .online:after,
.online:after,
.TopNavBtn__notifyCount {
	background-color: #585858 !important;
}


.audio_page_player2 .audio_page_player_track_slider.slider.slider_size_1 .slider_back {
    background-color: #b9b9b9 !important;
}

#page_header_cont {
    border-bottom: 1px solid #222 !important;
}
