.im-chat-input .im-chat-input--text {
    border-bottom: none !important;
}

.top_notify_count,
.online:after,
.page_media_poll_wrap,
.fc_tab_head,
.wall_module .reply_box,
.wall_module .reply_fakebox_wrap,
.submit_post,
.page_media_link_desc_td,
.im_fwd_log_wrap,
.im_wall_log_wrap,
.ok_msg,
.im-chat-input .im-chat-input--txt-wrap,
#page_header_cont .back,
.TopNavBtn .TopNavBtn__notifyCount {
    border: none !important;
}

.nim-dialog:not(.nim-dialog_deleted).nim-dialog.nim-dialog_selected.nim-dialog_classic.nim-dialog_unread,
.nim-dialog:not(.nim-dialog_deleted).nim-dialog.nim-dialog_selected.nim-dialog_hovered,
.nim-dialog:not(.nim-dialog_deleted).nim-dialog.nim-dialog_selected:hover,
.nim-dialog:not(.nim-dialog_deleted).nim-dialog_hovered+.nim-dialog.nim-dialog_selected,
.nim-dialog:not(.nim-dialog_deleted).nim-dialog_hovered.nim-dialog_selected+.im-page--messages-search,
.nim-dialog:not(.nim-dialog_deleted).nim-dialog_selected+.im-page--messages-search,
.nim-dialog:not(.nim-dialog_deleted).nim-dialog_selected+.nim-dialog,
.nim-dialog:not(.nim-dialog_deleted).nim-dialog_selected:hover+.im-page--messages-search,
.nim-dialog:not(.nim-dialog_deleted).nim-dialog_unread.nim-dialog_classic+.nim-dialog.nim-dialog_selected,
.nim-dialog:not(.nim-dialog_deleted).nim-dialog_unread.nim-dialog_classic.nim-dialog_selected+.im-page--messages-search,
.nim-dialog:not(.nim-dialog_deleted):hover+.nim-dialog.nim-dialog_selected {
    border-top: solid 1px rgba(114, 147, 182, 0) !important;
}

.ui_toggler:after {
	border: 1px solid #b0b0b0 !important;
}

.slider_hint:after {
	border-top-color: rgba(0, 0, 0, 0.24) !important
}

.ui_rmenu_item_sel,
.ui_rmenu_item_sel:hover{
    border-left: 2px solid #222 !important;
}

.ui_progress .ui_progress_back,
.page_media_poll .page_poll_row {
    border: 1px solid #ececec !important;
}

.audio_row.lyrics .audio_title_inner {
	border-bottom: 1px #222 dashed !important;
}

.ui_tab_sel,
.ui_tab_sel:hover,
.ui_tabs .ui_tab_sel,
.ui_tabs .ui_tab_sel:hover,
.ui_tabs_box .ui_tab_sel,
.ui_tabs_box .ui_tab_sel:hover {
    //border-bottom: 2px solid #222;
}

.wall_module .copy_quote {
    border-left: 1px solid #222 !important;
}
