.article_dark .article a {
    color: #a3a3a3 !important;
}

a,
.im-mess .im-mess--btn,
.im-page .im-page--mess-search,
.im-page .im-page--center-empty,
.page_counter .count,
.page_media_poll_title,
.wall_module .post_like_count,
.wall_module .post_share_count,
.wall_module .post_like_count,
.wall_module .post_share_count,
.wall_module .media_desc .a,
.nim-dialog--preview,
.nim-dialog .nim-dialog--who,
.nim-dialog .nim-dialog--preview-attach,
.nim-dialog.nim-dialog_typing .nim-dialog--typing,
.nim-dialog.nim-dialog_typing.nim-dialog_selected .nim-dialog--typing,
.nim-dialog.nim-dialog_typing.nim-dialog_selected .nim-dialog--typer-el,
.nim-dialog:not(.nim-dialog_deleted).nim-dialog_selected .nim-dialog--text-preview,
.ui_rmenu_item,
.ui_rmenu_subitem,
.ui_actions_menu_item ,
.ui_multiselect_cnt .token .token_title ,
.ui_search_filters_pane .token .token_title,
.audio_row.lyrics .audio_title_inner,
.audio_row.lyrics .audio_title_inner::before,
.audio_row.audio_row_current .audio_duration,
.idd_popup .idd_item,
.idd_wrap .idd_selected_value,
.olist.audio_album .olist_item_performer,
.chat_onl,
.ts_contact_name,
.wr_header,
.fc_contact_name,
.wdd_add3,
#pv_more_acts_tt .pv_more_act_item,
.slider_hint.audio_player_hint,
.summary_tab .summary_tab3,
.mv_subscribe_block .mv_subscribe_btn_count,
#mv_comments_header,
.ui_ownblock_label,
.im-page .im-page--chat-search-empty,
.audio_row .audio_row__duration,
.audio_row.audio_row_with_cover._audio_row.audio_can_add.audio_has_thumb.audio_row2.audio_row__current.audio_row__player_transition.audio_row__playing .audio_row__inner .article_dark .article a,
.audio_row.audio_row_with_cover._audio_row.audio_can_add.audio_has_thumb.audio_row2.audio_row__current.audio_row__player_transition.audio_row__playing .audio_row__inner .audio_row__title_inner {
    color: #222 !important;
}

#stl_text,
#pv_desc,
#side_bar ol li .left_row,
input.text.ts_input:focus,
.left_menu_nav,
.left_count_wrap,
.button_gray button,
.button_gray button.hover,
.button_gray button:hover,
.flat_button.secondary.hover,
.flat_button.secondary:hover,
.page_photo .flat_button,
.page_photo .page_actions_expanded,
.page_photo .page_actions_wrap,
.page_actions_dd_label,
.page_actions_header_inner,
.chat_onl,
.flat_button.secondary,
.flat_button.secondary_dark,
.nim-dialog:not(.nim-dialog_deleted).nim-dialog_muted.nim-dialog_selected .nim-dialog--unread,
.nim-dialog:not(.nim-dialog_deleted).nim-dialog_selected .nim-dialog--unread,
.replies_open,
.idd_popup .idd_header,
.pg_flnk,
.pg_flnk_nb,
.pg_flnk_rd,
.bt_tag_label,
.article_snippet .article_snippet__read_btn,
body.new_header_design #side_bar .left_label {
    color: #fff !important;
}

.pv_cont .pv_bottom_actions>.pv_actions_more,
.pv_cont .pv_bottom_actions>a,
.pv_cont .pv_bottom_actions>span,
.TopSearch .input_back_content,
.TopSearch__input:focus,
.TopNavBtn__profileName {
    color: #ccc !important;
}

.wd_lnk,
.reply_link,
.ts_wrap .input_back_content,
.post_like,
.post_share,
.post_date,
.post_date .post_link,
.post_date .wall_text_name_explain_promoted_post,
.top_profile_name,
.pv_cont .pv_can_edit,
.pv_cont .pv_cant_edit,
.pv_like,
.pv_like_count,
.pv_cant_edit.pv_desc_cont a,
#pv_more_acts_tt .pv_more_act_item:hover,
.ui_tab_sel,
.ui_tabs .ui_tab_sel,
.ui_tabs_box .ui_tab_sel,
.ui_tabs_box .ui_tab_sel .ui_tab_count,
.quick_login .label,
.pv_place_a,
.wall_module .like_count,
.box_title_wrap.box_grey .box_title,
#pv_box  .wall_module .wall_reply_text,
#pv_box  .post_author .author,
#pv_box  .wall_module .author,
#pv_box  .wall_module .copy_author,
#pv_box  a,
#pv_box  .pv_cont .pv_reply_form_wrap .submit_post_field,
.pv_cont .pv_comments_header,
.LeftMenu__icon {
    color: #adadad !important;
}

.top_audio_player .top_audio_player_title {
    color: #ececec !important;
}

.page_media_poll .page_poll_row_count  {
	color: #888;
}

.LeftNav__icon {
    color: #dedede !important;
}

.article_snippet .article_snippet__action_btn_text {
    color: #dfdfdf;
}
