input.text.ts_input,
input.ui_search_field,
.media_selector .ms_item:before,
.media_selector .ms_item:hover:before,
.im-dialog-select .im-dialog-select--btn,
.im-page .im-page--dialogs-settings,
.im-page .im-page--stars i,
.im-page .im-page--center-empty,
.im-page .im-page--header-icon.im-page--header-icon_search:before,
.im-page .im-page--header-more .ui_actions_menu_icons,
.im-page .im-page--header-chat_verified .im-page--header-verified,
.wall_module .media_desc b,
.wall_module .media_preview .note b,
.wall_module .media_preview .poll b,
.wall_module .media_preview .share b,
.wall_module .like_icon,
.wall_module .reply_action,
.wall_module .post_like_icon,
.wall_module .post_reply_icon,
.wall_module .post_share_icon,
.wall_module .my_like .post_like_icon,
.wall_module .my_share .post_share_icon,
.ui_search_reset,
.ui_search_filters_pane .token .token_del,
.ui_progress .ui_progress_bar,
.ui_calendar_icon,
.ui_multiselect_cnt .token .token_del,
.ui_tab_search:after,
.ui_actions_menu_icons,
.ui_actions_menu_item.im-action:before,
.ui_actions_menu_item.im-action:hover:before,
.audio_row .audio_acts .audio_act>div,
.audio_row .audio_acts .audio_act>div,
.audio_page_player .audio_page_player_next .icon,
.audio_page_player .audio_page_player_prev .icon,
.audio_page_player .audio_page_player_btns .icon,
.audio_album_edit_btn .audio_album_btn_icon,
.audio_delete_current_btn,
.audio_album_recom_btn .audio_album_btn_icon,
.audio_hq_label_show .audio_row.hq .audio_hq_label,
.audio_search_rows .audio_row.hq .audio_hq_label,
.olist_checkbox,
.checkbox:before,
.feed_filter_icon,
.feed_lists_icon .ui_actions_menu_icons,
.ts_contact_status,
.im-mess .im-mess--fav,
.topics_module .topic_icon,
.emoji_smile_icon,
.emoji_sprite,
.search_filters_minimized_text,
.docs_choose_upload_area_label,
.feedback_sticky_gift_btn,
.feedback_row_menu_icon,
.im-page .im-page--history.im-page--history_loading:before,
.chats_sp,
.wdd_add_plus,
.radiobtn:before,
.media_preview .progress_x,
.pv_like_icon,
.pv_cont .pv_closed_commments_placeholder,
.pv_comments_list .ms_item_more,
.pv_reply_form .ms_item_more,
.wall_signed_by,
.box_body .ui_box_search,
.box_x_button.box_x_tabs,
.pv_place_label,
.slider .slider_loading_bar,
.nim-dialog.nim-dialog_verified .nim-dialog--verfifed,
.page_verified,
.page_media_poll .page_poll_row.page_poll_voted:before,
.wl_post_share .wl_action_icon,
.sort_not_rev_icon, .sort_rev_icon,
.idd_popup .idd_header.idd_arrow,
.mv_share_button .mv_share_icon,
.mv_add_button .mv_add_icon,
.blog_link_icon,
.no_posts_cover,
.online:after,
.upload_progress,
.ok_msg,
.ui_search_new.ui_search_field_empty .ui_search_button_search,
.audio_row .audio_row_cover_wrap,
.bt_reports_reverse_button .icon {
    -webkit-filter: grayscale(100%) !important;
}

.top_nav_btn .top_nav_btn_icon,
.nim-dialog .nim-dialog--close,
#side_bar .left_icon,
#side_bar ol li .left_row:hover .left_icon ,
.page_actions_btn.narrow.stats,
.page_actions_cont.narrow .page_actions_header,
.page_actions_cont.narrow .page_extra_actions_btn,
.page_actions_dd_label,
.page_actions_header_inner,
.chat_onl:after,
#stl_text,
.profile_gift_send_btn .send_thumb {
    -webkit-filter: grayscale(100%) brightness(270%) !important;
}

.im_rc_emojibtn:hover {
	-webkit-filter: drop-shadow(0px 0px 1px black) !important;
}

.emoji_sticker_item.over .emoji_sticker_image,
.emoji_sticker_item:hover .emoji_sticker_image {
    -webkit-filter: drop-shadow(1px 1px 2px black) !important;
}

.left_settings_inner {
    -webkit-filter: grayscale(100%) brightness(117%) !important;
}

.top_home_link .top_home_logo,
#pv_more_acts_tt .pv_more_act_item:before {
    -webkit-filter: brightness(65%) !important;
}

.page_doc_photo,
.nim-dialog:not(.nim-dialog_deleted).nim-dialog_hovered .nim-dialog--photo .online.mobile:after,
.nim-dialog:not(.nim-dialog_deleted).nim-dialog_selected .nim-dialog--photo .online.mobile:after,
.nim-dialog:not(.nim-dialog_deleted).nim-dialog_unread.nim-dialog_classic .nim-dialog--photo .online.mobile:after,
.nim-dialog:not(.nim-dialog_deleted):hover .nim-dialog--photo .online.mobile:after,
.online.mobile:after {
    -webkit-filter: grayscale(100%) brightness(50%) !important;
}

.audio_page_player2 .audio_page_player_prev .icon,
.audio_page_player2 .audio_page_player_next .icon {
    -webkit-filter: grayscale(100%) brightness(0%) !important;
}

.TopHomeLink {
    filter: grayscale(1) invert(1);
}
