body {
    background: url(https://pp.vk.me/c626421/v626421014/311e2/svGW5IV3Kw4.jpg) fixed !important;
    background-size: cover;
}

ul {
    background: rgba(255, 255, 255, 0.8);
}

.hidden {
    display: none;
}

.all_read {
    color: #ccc;
    text-align: center;
}

a.page_post_thumb_wrap {
    width: 128px;
    height: 128px;
}

.close {
    font-size: 18px;
    float: right;
    margin-top: -28px;
}

.close:hover {
    color: #c00;
    cursor: pointer;
}

.body {
    background: rgba(255, 255, 255, .7);
    padding: 10px;
    margin-top: 34px;
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.mobile {
    height: 11px;
    display: inline-grid;
    width: 7px;
    background-position-x: right;
    background-repeat: no-repeat;
    background-image: url('data:image/svg+xml;charset=utf-8,<svg%20width%3D"100%25"%20height%3D"100%25"%20viewBox%3D"0%200%207%2011"%20version%3D"1.1"%20xmlns%3D"http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg"%20xmlns%3Axlink%3D"http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink">%0A%20%20%20%20<g%20id%3D"Symbols"%20stroke%3D"none"%20stroke-width%3D"1"%20fill%3D"%23000000"%20fill-rule%3D"evenodd">%0A%20%20%20%20%20%20%20%20<g%20id%3D"online"%20transform%3D"translate(-203.000000%2C%20-422.000000)">%0A%20%20%20%20%20%20%20%20%20%20%20%20<path%20d%3D"M203%2C423.506439%20C203%2C422.674456%20203.671189%2C422%20204.501676%2C422%20L208.498324%2C422%20C209.327677%2C422%20210%2C422.671541%20210%2C423.506439%20L210%2C431.493561%20C210%2C432.325544%20209.328811%2C433%20208.498324%2C433%20L204.501676%2C433%20C203.672323%2C433%20203%2C432.328459%20203%2C431.493561%20L203%2C423.506439%20Z%20M204%2C424%20L209%2C424%20L209%2C430%20L204%2C430%20L204%2C424%20Z"%20id%3D"mobile_m"%2F>%0A%20%20%20%20%20%20%20%20<%2Fg>%0A%20%20%20%20<%2Fg>%0A<%2Fsvg>');
}

.count, .count_msg {
    position: absolute;
    cursor: pointer;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    background: rgba(0, 0, 0, .5);
    padding: 5px 9px;
    right: 25px;
    top: 2px;
}

.back {
    position: absolute;
    top: 0;
    right: 55px;
    color: #333333;
    font-size: 24px;
}

.back:hover {
    cursor: pointer;
    color: #006600;
}

.nim-dialog--who {
    font-weight: bold;
}

.options,
.options_back {
    color: #222222;
    text-decoration: none;
    padding: 2px 7px;
    left: 4px;
    font-size: 18px;
    top: 2px;
    position: absolute;
}

.options_back {
    font-size: 38px;
    position: absolute;
    top: -13px;
}

.options:hover,
.options_back:hover {
    cursor: pointer;
    color: #0075b9 !important;
}

table input {
    padding: 5px 12px;
    border-radius: 5px;
    border: #ccc solid 1px;
    width: 70px;
    transition: all 0.3s ease;
}

table input:hover, table input:focus {
    border-radius: 0;
}

.old input {
    border: 1px solid rgba(1, 1, 1, 0);
    cursor: pointer;
}

.old input:focus {
    cursor: text;
}

input[type="color"] {
    padding: 0;
    border: 0;
    background: none;
    width: 23px;
    height: 27px;
}

td {
    height: 30px;
}

.menu-btn {
    padding: 12px 9px 9px 9px;
    cursor: pointer;
    width: 18px;
    transition: all 0.3s ease;
    transform: scale(.9);
}

.menu-btn:hover {
/ / transform: rotateZ(90 deg);
    transform: scale(1);
}

.menu_line {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #ACACAB;
    margin-bottom: 3px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.line3 {
    transform: translateY(-6px) rotateZ(90deg);
}

.menu-btn:hover .menu_line {
    background-color: #666;
}

.save, .del {
    cursor: pointer;
    font-size: 23px;
    padding-bottom: 8px;
    transition: all 0.1s;
}

.save:hover {
    color: #0c0;
}

.del:hover {
    color: #f00;
}

.dies {
    position: absolute;
    margin: 5px;
    cursor: pointer;
}

.new_tr {
    display: contents;
    opacity: 0;
    transform: scale(.8);
    transition-delay: .5s;
    transition: all 0.3s;
}

.new_tr.active {
    opacity: 1;
    transform: scale(1);
}

.new_tr.deleted {
    opacity: 0;
    transform: scale(.8);
}

.mv_minimized #mv_player_box {
    padding: 0 2px 2px;
}


/**
 * loader
 */

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 4px;
    height: 4px;
    margin-left: 20px;
}

.lds-ellipsis div {
    position: absolute;
    background: #666;
    margin-left: -20px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(19px, 0);
    }
}

.single_msg {
    cursor: pointer;
}

.text_msg {
    margin-left: 20px;
}

/* one chat */
.im-mess-stack--photo {
    display: none;
}

.im-mess-stack--lnk {
    text-decoration: none;
    font-weight: bold;
}

._im_mess_link {
    text-decoration: none;
}

.ui_clean_list {
    background: none;
    list-style: none;
    margin: 0 -20px 5px;
}

.page_post_sized_thumbs {
    display: none;
}

.TopHomeLink {
    margin: 0 0 0 4px !important;
}

