@import url(//fonts.googleapis.com/css?family=Noto+Sans);
@import url(import/background.css);
@import url(import/color.css);
@import url(import/filtr.css);
@import url(import/border.css);


* {
    font-family: 'Noto Sans', sans-serif;
}

.side_bar_inner {
    margin-top : 42px !important;
    position   : fixed !important;
    padding    : 15px 10px 10px !important;
    margin-left: -5px !important;
    top: 0;
}

.scrollbar_inner,
.ui_scroll_default_theme .ui_scroll_bar_container:hover .ui_scroll_bar_inner,
.ui_scroll_default_theme.ui_scroll_dragging .ui_scroll_bar_inner,
.ui_scroll_default_theme .ui_scroll_bar_inner {
    width: 3px !important;
}

.audio_row.lyrics .audio_title_inner {
	position       : relative;
	text-decoration: none !important;
	padding-bottom : 1px;
}

.audio_row.lyrics .audio_title_inner::before {
	position      : absolute;
	overflow      : hidden;
	max-height    : 100%;
	content       : attr(aria-label);
	transition    : opacity 0.3s;
	padding-bottom: 2px;
	opacity       : 0;
}
.audio_row.lyrics .audio_title_inner:hover::before/*,
.audio_row.lyrics .audio_title_inner:focus::before*/ {
//	max-height   : 100%;
	border-bottom: 1px solid #222;
	opacity      : 1;
}

#side_bar ol li .left_row:hover .left_icon {
	opacity: 0.75 !important;
}
.pv_like:hover .pv_like_icon {
	opacity: 1 !important;
}

.pv_cont .pv_comments_header:hover {
	text-decoration: underline;
}

.im-chat-input.clear_fix .tt_w.tt_default.tt_down,
.page_preview_doc_photo_hint,
.chat_onl_inner,
#ads_left  {
	display: none !important;
}

.im-mess-stack .page_doc_photo {
    height: 17px !important;
    width : 40px !important;
}

.audio_search_input .ui_search_custom_ctrl {
	z-index: 9999;
}

.im-chat-input .im-chat-input--smile-wrap {
    right: 2px !important;
}

.im-chat-input .im-chat-input--send {
    right: -30px !important;
}

.audio-msg-track .audio-msg-track--wave-wrapper .audio-msg-track--wave path {
    stroke: #222;
}
input.ui_search_field,
input.ui_search_field~.placeholder .ph_input
{
    width: 90%;
}

._audio_section__search .audio_row.audio_has_lyrics .audio_row__title_inner,
.ap_layer__content .audio_row.audio_has_lyrics .audio_row__title_inner,
.audio_page__audio_rows .audio_row.audio_has_lyrics .audio_row__title_inner,
.audio_section_global_search__audios_block .audio_row.audio_has_lyrics .audio_row__title_inner {
    color: #222;
    text-decoration-line: underline;
    text-decoration-style: dotted;
}

.HeaderNav__item:first-child {
    padding: 0 0 0 8px !important;
}

.audio-msg-track .slider .slider_slide>svg {
    stroke-opacity: 0.3 !important;
}
